* {
	background-color: #101010;
	color: #E8E8E8;
	font-size: 1.1em;
	font-weight: 200;
	font-family: Courier, sans-serif;
}

.Float {
	float: left;
	margin-right: 15px;
}

.UpPanelLink {
	color: #DB0000;
	text-decoration: none;
}

.LiteLink {
	color: #850000;
	text-decoration: none;
}

.FixText {
	text-align: justify;
}
.UpPanelLink:hover {
	color: #F20101;
	text-decoration: none;
}

.LiteLink:hover {
	color: #B40000;
	text-decoration: none;
}

.UpPanelLink:active {
	color: #FF0000;
	text-decoration: none;
}

.LiteLink:active {
	color: #CF0000;
	text-decoration: none;
}